@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  @apply bg-blue-dark;
  @apply text-white;
}

select {
  -webkit-appearance: none;
}

.segment-length {
  width: 96.5% !important;
  max-width: 1875px;
}

.booking-form {
  @apply segment-length
}

.booking-form-input-icon {
  top: 1.6em;
  left: 0.5em;
  pointer-events: none;
  @apply text-grey-darker;
}

.booking-exchange-icon {
  top: 1.9em;
  right: -1.1em;
}

.booking-search-btn {
  @apply font-semibold text-white rounded;
  width: 100%;
  padding: 0.6em;
}

.vehicle-icon {
  left: 0.5em;
  pointer-events: none;
  top: 0.6em;
}

@media only screen and (max-width: 576px) {
  .booking-form-input-icon {
    top: 0.7em;
  }

  .booking-exchange-icon {
    top: 0.7em;
    right: -1.3em;
    transform: rotate(90deg);
  }

  .booking-search-btn {
    width: 75%
  }
}

.booking-datepicker {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.timetable-row {
  @apply flex justify-between items-center rounded-t border-b mb-px;
}

.timetable-date {
  flex: 0 0 12.5%;
  text-align: left;
}

.timetable-time {
  flex: 0 0 10%;
  text-align: right;
}

.timetable-vessel {
  flex: 0 0 20%;
  text-align: left;
}

.timetable-status {
  flex: 0 0 15%;
  text-align: center;
}

.timetable-status-item {
  @apply rounded-full border-solid text-grey-darker border-2 mx-1 h-8 w-8 flex justify-center items-center
}

.map-container {
  height: 50em;
}

.map-container > div {
  height: 100%;
  width: 100%;
}

.reservation-row {
  @apply timetable-row;
}

.reservation-date {
  flex: 0 0 15% !important;
  text-align: left;
}

.reservation-units {
  flex: 0 0 10% !important;
  text-align: center;
}

.reservation-harbor {
  flex: 0 0 20% !important;
  text-align: center;
}

.reservation-vessel {
  flex: 0 0 15% !important;
  text-align: center;
}

.reservation-controls {
  flex: 0 0 7% !important;
  text-align: center;
}

.vehicle-modal {
  z-index: 2000;
}

.vehicle-input {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}


